<ion-view title="Assignatures" id="page33">
  <ion-content padding="true" class="has-header">
    <form id="assignatures-form2" class="list">
      <label class="item item-input" id="assignatures-input4">
        <span class="input-label">Nom</span>
        <input type="text" ng-model="newAssignatura.nom" placeholder="">
      </label>
      <label class="item item-input" id="estudiants-input5">
        <span class="input-label">Periode</span>
        <input type="text" ng-model="newAssignatura.periode" placeholder="">
      </label>
    </form>
      <button id="estudiants-button2" style="background-color: #5cb85c" class="button button-positive  button-block" ng-click="addAssignatura()" >Registrar</button>
  </ion-content>
</ion-view>
