<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <form>
      <div style="text-align: center;"><h3>MINIM 2 EA</h3>
      <p>{{ message }}</p></div>
    </form>
      <button id="estudiants-button-list" class="button button-positive  button-block" ui-sref="menu.estudiants" >ESTUDIANTS</button>
      <button id="assignatures-button-list" class="button button-positive  button-block" ui-sref="menu.assignatures" >ASSIGNATURES</button>
  </ion-content>
</ion-view>
